*{
    box-sizing: border-box;
}
.fondo{
    background-color: rgb(18, 70, 87);
    color: white;
}


.overlay{
background-color: #00000018;
backdrop-filter: blur(3px);
}
.btn-2 {
    background-color: transparent;
    border: 2px solid white; /* grosor + tipo + color */
    color: white;
    padding: 8px 20px; /* sin coma, solo espacio */
    border-radius: 30px; /* opcional, para bordes redondeados */
    cursor: pointer; /* opcional, para indicar que es clicable */
    margin-top: 20px;
}
.btn-2:hover{
    background-color: white;
    color: rgb(61, 61, 61);
}

.hero-video{
    height: 100vh;
}
@media (max-width: 768px){
    .hero-video{
        height: 60vh;
    }
}
.top{
    background:rgb(46, 46, 46);
    padding: 10px;
}
.top:hover{
     background:rgb(24, 24, 24);
}
